/*  SASS imports not available yet */

body {
	background-color: #eee;
}

/* Helper classes */
.center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.m-0 {
    margin: 0;
}

.m-10 {
    margin: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}


.box {
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    &.box-white {
        background-color: white;
    }

    .title-product {
        margin: 10px 0;
        font-size: 20px;
        font-weight: bold;
    }

    .image-product {
        margin: 0 auto;
        padding: 20px 0;
    }

    .price-product {
        font-size: 16px;
    }

    a:hover {
        font-weight: bold;
        text-decoration: none;
    }
}

.btn-default {
    // overide BS
    background-color: #fafafa;
    border-color: transparent;
    border-radius: 0;
    color: #337ab7;
    font-weight: bold;

    &:hover {
        border-color: transparent;
        background-color: #eaeaea;
    }
}

